@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100vh;
  background-image: url('./images/banner-variation-2.jpg');
  backdrop-filter: blur(15px);
  background-position: 15%;
  background-repeat: no-repeat;
}


@media screen and (max-width: 1500px) {
  html, body {
    backdrop-filter: blur(15px);
    background-image: url('./images/banner.jpg');
    background-position: 75%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  html, body {
    backdrop-filter: blur(15px);
    background-image: url('./images/banner-mobile.jpg');
    background-position: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.918);
    backdrop-filter: blur;


  }
}
